@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
  }
  ::-webkit-scrollbar {
    /* width: 0px; */
    height: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 100px;
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 100px;
    border:3px #fff solid;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4EB7F2;
  }

  .select-custom {
    background: url(/icon/arrow.svg);
    appearance: none;
    background-repeat: no-repeat;
    background-position:90% 50%;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* != Firefox */
    -webkit-appearance: none; /* Chrome, Safari */
  }

  input[type="number"]:hover {
    cursor: text;
  }
}

